body {
  font-family: "tahoma", sans-serif;
  background-color: #F8F8FC;
}
.graphCont {
  width: 97%;
  padding: 10px;
  background-color: #F3F5F6;
  margin: 50px 20px 50px 0px;
  border-radius: 5px;
  border-color: #D0D6D9;
  border: 1px solid #E0E6E9;
}
.graph {
  height: 300px;
  width: 75%;
  display: inline-block;
  border: 1px solid #D0D6D9;
}

#introtxt {
}
#paramContainer {
    margin-left: 50%;
    margin-right: 50%;
    width: 40%;
}

.table {
  display: inline-block;
  background-color: #FFFFFC;
  height: 300px;
  width: 24%;
  border: 1px solid #D0D6D9;
  overflow:auto;
}

td {
  padding: 5px;
  text-align: center;
}
thead {
  background-color: #969498;
}
.title {
  font-weight: bold;
}

.alt0 {
  background-color: #ECEAEB;
}
.alt1 {
  background-color: #CCCACB;
}

.button {
  margin-left: 35%;
  margin-right: 65%;
  background-color: #B6B4B8;
  border: 1px solid #A6A4A8;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
